@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');


@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Noto Kufi Arabic", sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #dbfffef4;
    --text-color: #000;
    --main-color: #277979;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}











/* ****************** Header & NavBar Section ********************* */
.web_developer_header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.web_developer_logo {
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: default;
    transition: 0.3s ease;
}

.web_developer_navbar a {
    font-size: 1.5rem;
    color: var(--bg-color);
    margin-left: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.web_developer_navbar a:hover,
.web_developer_navbar a.active {
    color: var(--text-color);
}

#web_developer_menu_icon {
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

















/* ****************** Home Section ********************* */
.web_developer_home_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.web_developer_home_section_img {
    margin-left: 2rem;
}

.web_developer_home_section_img img {
    width: 25rem;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
    border: 0.5px solid var(--main-color);
}

.web_developer_home_section_content {
    margin-left: 3rem;
}

.web_developer_home_section_content h1 {
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.web_developer_home_section_content h2 {
    font-size: 3.5rem;
    font-weight: 700;
}

.web_developer_home_section_content h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.web_developer_home_section_content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.web_developer_home_section_content p {
    font-size: 1rem;
}

.web_developer_home_social_media * {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin-top: 1rem;
    transition: 0.4s ease-in-out;
    padding: 0.5rem;
    cursor: pointer;
}

.web_developer_home_social_media *:hover {
    transform: translateY(-5px);
    background-color: var(--main-color);
    color: var(--bg-color);
}

.web_developer_home_download_cv_btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.5rem;
    color: var(--bg-color);
    letter-spacing: 0.1vw;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border: 0.2rem solid transparent;
    margin-top: 0.5rem;
}

.web_developer_home_download_cv_btn:hover {
    background-color: transparent;
    color: var(--main-color);
    border: 0.2rem solid var(--main-color);
}





















/* ****************** About Section ********************* */
.web_developer_about {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--snd-bg-color);
    padding: 2rem 0;
}

.web_developer_about_img {
    margin-right: 2rem;
}

.web_developer_about_img img {
    width: 25rem;
    border-radius: 50%;
    border: 0.5px solid var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
}

.web_developer_about_content {
    padding: 0 4rem;
}

.web_developer_about_content h1 {
    text-align: center;
    font-size: 3rem;
}

.web_developer_about_content h2 {
    text-align: left;
    font-size: 2rem;
}

.web_developer_about_content h3 {
    font-size: 3rem;
}

.web_developer_about_content p {
    font-size: 1rem;
}

.web_developer_about_contact_me_btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.5rem;
    color: var(--bg-color);
    letter-spacing: 0.1vw;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border: 0.2rem solid transparent;
    margin-top: 0.5rem;
}

.web_developer_about_contact_me_btn:hover {
    background-color: transparent;
    color: var(--main-color);
    border: 0.2rem solid var(--main-color);
}


















/* ****************** Services Section ********************* */
.web_developer_services {
    padding: 2rem 0;
}

.web_developer_services h1 {
    font-size: 3rem;
    text-align: center;
}

.web_developer_services_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
    height: 100%;
}

.web_developer_services_box {
    background: var(--snd-bg-color);
    width: 35rem;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--bg-color);
    transition: 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.web_developer_services_box:hover {
    transform: translateY(-5px);
    border-color: var(--main-color);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
}

.web_developer_services_box i,
.web_developer_services_box ion-icon {
    font-size: 4rem;
    color: var(--main-color);
    background: transparent;
    padding: 1rem;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.web_developer_services_box:hover i,
.web_developer_services_box:hover ion-icon {
    color: var(--main-color);
}

.web_developer_services_box h3 {
    font-size: 1.5rem;
}

.web_developer_services_box p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.web_developer_services_box_btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background: var(--main-color);
    border-radius: 5rem;
    text-decoration: none;
    transition: 0.3s;
    margin-top: auto;
    align-self: center;
}

.web_developer_services_box_btn:hover {
    background: #fff;
    color: var(--main-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}



















/* ****************** Customers Cmments Section ********************* */
.mughader_customers_comments_section {
    background: #f9f9f9;
    padding-top: 0.5vmax;
    direction: rtl;
}

.mughader_customers_comments_section h6 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    background: linear-gradient(to right, #ff2f00, #FFC300);
    -webkit-background-clip: text;
    line-height: 1.5;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.mughader_customers_comments_section h6::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background: linear-gradient(to right, #FF5733, #FFC300);
    margin: 10px auto 0;
    border-radius: 2px;
}

#indoforall_clint_rate_section {
    display: flex;
    overflow: hidden;
    border-radius: 3px;
}

#indoforall_clint_rate_area {
    background: #dadada;
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0 0 1px 0.5px black;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

#indoforall_clint_rate_area.show {
    opacity: 1;
    transform: translateY(0);
}

.indoforall_rate_div {
    background: rgb(46, 46, 46);
    color: white;
    min-width: 35rem;
    margin: 0 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px rgb(0, 162, 255);
    transition: all 0.5s ease-in-out;
    scroll-snap-align: center;
}

.indoforall_rate_div:hover {
    box-shadow: 0 0 3px 0.5px rgb(0, 255, 0);
}

.indoforall_clint_rate_date_div {
    display: flex;
    justify-content: flex-end;
}

.indoforall_clint_rate_date_div h3 {
    font-size: 1rem;
    font-weight: 200;
}

.indoforall_clint_rate_info_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.indoforall_clint_rate_info_div img {
    width: 3.5rem;
    border-radius: 50%;
}

.indoforall_clint_rate_info_div h4 {
    font-size: 1rem;
    margin-right: 10px;
}

.indoforall_clint_rate_comment_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.indoforall_clint_rate_comment_div h5 {
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
    line-height: 1.4;
}

.indoforall_clint_rate_star_div {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    color: gold;
}

#indoforall_clint_rate_area::-webkit-scrollbar {
    display: none;
}

.indoforall_insert_comment_form_div {
    width: 55vw;
    margin: 10px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.indoforall_insert_comment_form_div h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

#indoforall_comment_form {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

#indoforall_comment_form label {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    text-align: left;
    direction: ltr;
}

#indoforall_comment_username,
#indoforall_comment_text,
#indoforall_comment_stars {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
}

#indoforall_comment_text {
    min-height: 80px;
    resize: vertical;
}

#indoforall_comment_stars {
    cursor: pointer;
    background-color: #fff;
}

#indoforall_comment_form button {
    background: linear-gradient(to top, rgb(0, 52, 82), rgb(0, 127, 200));
    color: white;
    font-size: 1rem;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#indoforall_success_notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

#indoforall_success_notification.show {
    opacity: 1;
    transform: translate(-50%, -50%);
}

















/* ****************** Footer Section ********************* */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background: var(--bg-color);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 0.5rem;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2)translateY(-5px);
    background-color: var(--main-color);
    color: var(--bg-color);
}

.footer .copyright {
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

















/* Media Queries */
/* 1250px */
@media(max-width:1250px) {

    /* ****************** Header & NavBar Section ********************* */
    .web_developer_header {
        padding: 0 2%;
    }

    .web_developer_logo {
        font-size: 3vw;
    }

    .web_developer_navbar a {
        font-size: 2vw;
        margin-left: 1rem;
    }







    /* ****************** Home Section ********************* */
    .web_developer_home_section {
        padding: 1.5rem 0;
    }

    .web_developer_home_section_img {
        margin-left: 1.5rem;
    }

    .web_developer_home_section_img img {
        width: 30vw;
    }

    .web_developer_home_section_content {
        margin-left: 2.5rem;
    }

    .web_developer_home_section_content h1 {
        font-size: 2.5vw;
    }

    .web_developer_home_section_content h2 {
        font-size: 4.5vw;
    }

    .web_developer_home_section_content h3 {
        font-size: 2.5vw;
    }

    .web_developer_home_section_content h3:nth-of-type(2) {
        margin-bottom: 1.5rem;
    }

    .web_developer_home_section_content p {
        font-size: 1.5vw;
    }

    .web_developer_home_social_media * {
        width: 2.5vw;
        height: 2.5vw;
    }

    .web_developer_home_download_cv_btn {
        padding: 0.5vw 1vw;
        font-size: 2vw;
    }







    /* ****************** About Section ********************* */
    .web_developer_about {
        padding: 1.5rem 0;
    }

    .web_developer_about_img {
        margin-right: 1.5rem;
    }

    .web_developer_about_img img {
        width: 30vw;
    }

    .web_developer_about_content {
        padding-left: 2rem;
        padding-right: 0.5rem;
    }

    .web_developer_about_content h1 {
        font-size: 4vw;
    }

    .web_developer_about_content h2 {
        font-size: 3vw;
    }

    .web_developer_about_content h3 {
        font-size: 4vw;
    }

    .web_developer_about_content p {
        font-size: 1.5vw;
    }

    .web_developer_about_contact_me_btn {
        padding: 0.5vw 1vw;
        font-size: 2vw;
        margin-top: 1vw;
    }











    /* ****************** Services Section ********************* */
    .web_developer_services {
        padding: 1.5rem 0;
    }

    .web_developer_services h1 {
        font-size: 4vw;
    }

    .web_developer_services_box {
        width: 40vw;
        padding: 1vw;
    }

    .web_developer_services_box i,
    .web_developer_services_box ion-icon {
        font-size: 5vw;
        padding: 1vw;
    }

    .web_developer_services_box h3 {
        font-size: 2vw;
    }

    .web_developer_services_box p {
        font-size: 1.5vw;
        margin-bottom: 1vw;
    }

    .web_developer_services_box_btn {
        padding: 1vw 1.5vw;
        font-size: 1.5vw;
    }
}



/* Responsive Design */
@media (max-width: 950px) {}

/* Responsive Design */
@media (max-width: 768px) {

    /* ****************** Header & NavBar Section ********************* */
    .web_developer_header {
        padding: 0 2%;
    }

    .web_developer_logo {
        font-size: 4vw;
    }

    #web_developer_menu_icon {
        display: block;
        font-size: 7vw;
    }

    .web_developer_navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        max-width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--main-color);
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
    }

    .web_developer_navbar a {
        display: block;
        padding: 1.5vw 0;
        font-size: 3.5vw;
    }

    .web_developer_navbar.active {
        right: 0;
    }







    /* ****************** Home Section ********************* */
    .web_developer_home_section_img {
        margin-left: 1rem;
    }

    .web_developer_home_section_content {
        margin-left: 2rem;
    }

    .web_developer_home_section_content h1 {
        font-size: 3vw;
    }

    .web_developer_home_section_content h2 {
        font-size: 5vw;
    }

    .web_developer_home_section_content h3 {
        font-size: 3vw;
    }

    .web_developer_home_section_content h3:nth-of-type(2) {
        margin-bottom: 1rem;
    }

    .web_developer_home_section_content p {
        font-size: 2vw;
    }

    .web_developer_home_social_media * {
        width: 3vw;
        height: 3vw;
    }

    .web_developer_home_download_cv_btn {
        font-size: 3vw;
    }







    /* ****************** About Section ********************* */
    .web_developer_about_img {
        margin-right: 1rem;
    }

    .web_developer_about_content h1 {
        font-size: 4.5vw;
    }

    .web_developer_about_content h2 {
        font-size: 3.5vw;
    }

    .web_developer_about_content h3 {
        font-size: 4.5vw;
    }

    .web_developer_about_content p {
        font-size: 2vw;
    }

    .web_developer_about_contact_me_btn {
        font-size: 3vw;
    }










    /* ****************** Services Section ********************* */
    .web_developer_services h1 {
        font-size: 5vw;
    }

    .web_developer_services_box {
        width: 45vw;
        padding: 0.5vw;
    }

    .web_developer_services_box i,
    .web_developer_services_box ion-icon {
        font-size: 5vw;
        padding: 1vw;
    }

    .web_developer_services_box h3 {
        font-size: 3vw;
    }

    .web_developer_services_box p {
        font-size: 2.5vw;
    }

    .web_developer_services_box_btn {
        font-size: 2vw;
    }
}

/* Responsive Adjustments */
@media (max-width: 500px) {

    /* ****************** Header & NavBar Section ********************* */
    .web_developer_header {
        padding: 0 2%;
    }

    .web_developer_logo {
        font-size: 5.5vw;
    }

    #web_developer_menu_icon {
        display: block;
        font-size: 12vw;
    }

    .web_developer_navbar a {
        display: block;
        padding: 1vw 0;
        font-size: 5.5vw;
        margin-left: 0.5rem;
    }







    /* ****************** Home Section ********************* */
    .web_developer_home_section {
        padding: 0.5rem 0;
    }

    .web_developer_home_section_img {
        margin-left: 0.1rem;
    }

    .web_developer_home_section_content {
        margin-left: 0.3rem;
        margin-right: 0.2rem;
    }

    .web_developer_home_section_content h1 {
        font-size: 5.5vw;
    }

    .web_developer_home_section_content h2 {
        font-size: 7.5vw;
    }

    .web_developer_home_section_content h3 {
        font-size: 5vw;
    }

    .web_developer_home_section_content h3:nth-of-type(2) {
        margin-bottom: 0.5rem;
    }

    .web_developer_home_section_content p {
        font-size: 2.8vw;
    }

    .web_developer_home_social_media * {
        width: 6vw;
        height: 6vw;
        padding: 0.3rem;
    }

    .web_developer_home_download_cv_btn {
        font-size: 4vw;
    }







    /* ****************** About Section ********************* */
    .web_developer_about {
        padding: 0.5rem 0;
    }

    .web_developer_about_img {
        margin-right: 0.1rem;
    }

    .web_developer_about_content {
        padding: 0 0.3rem;
    }

    .web_developer_about_content h1 {
        font-size: 5.5vw;
    }

    .web_developer_about_content h3 {
        font-size: 5.5vw;
    }

    .web_developer_about_content p {
        font-size: 3vw;
    }

    .web_developer_about_contact_me_btn {
        font-size: 4vw;
    }








    /* ****************** Services Section ********************* */
    .web_developer_services {
        padding: 0.5rem 0;
    }

    .web_developer_services h1 {
        font-size: 6vw;
    }

    .web_developer_services_box {
        width: 47vw;
        margin: 0.5vw;
    }

    .web_developer_services_box i,
    .web_developer_services_box ion-icon {
        font-size: 6vw;
    }

    .web_developer_services_box h3 {
        font-size: 3.5vw;
    }

    .web_developer_services_box p {
        font-size: 2.7vw;
    }

    .web_developer_services_box_btn {
        font-size: 3vw;
    }
}




/* Responsive Design */
@media (max-width: 400px) {
    .mughader_customers_comments_section h6 {
        font-size: 5.5vw;
    }
}